
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@section scripts {
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}


<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        
        <div class="col-lg-8 table-responsive mb-5">
            <h3>
                <localize>Shopping Cart</localize> [ <small><span id="lbl_number_of_items">0</span> <localize>Item</localize> </small>]
                <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a>
            </h3>
            <table class="table table-bordered text-center mb-0" id="tbl_cart">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th><localize>Product</localize></th>
                        <th><localize>Description</localize></th>
                        <th><localize>Quantity</localize></th>
                        <th><localize>Price</localize></th>
                        <th><localize>Total</localize></th>
                    </tr>
                </thead>
                <tbody id="cart_body">

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0"><localize>Cart</localize></h4>
                </div>
                
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold"><localize>Total</localize></h5>
                        <h5 class="font-weight-bold" id="lbl_total">0</h5>
                    </div>
                    <a href="/@culture/Cart/Checkout" class="btn btn-block btn-primary my-3 py-3"><localize>Proceed To Checkout</localize></a>
                </div>
            </div>
        </div>
    </div>
</div>
